/* CONCERN SECTION */
.concern {
    padding: 40px 0;
}

.concern h2 {
    color: var(--brown);
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    max-width: 540px;
}

.concern-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: start;
    margin-top: 90px;
    padding-bottom: 120px;
}

.concern-container .separator {
    width: 1px;
    height: 200px;
    background-color: #000;
    align-self: flex-end;
}

.concern-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.concern-card:hover {
    transform: translateY(-10px);
    transform: scale(1.07);
}

.concern-card__image {
    position: relative;
}

.concern-card__image img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
}

.concern-card__image div {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    max-width: 160px;
}

.concern-card__list ul {
    list-style: disc;
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .concern {
        padding: 20px 0;
    }
    
    .concern h2 {
        font-size: 20px;
        text-align: center;
        line-height: 110%;
    }
    
    .concern-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        margin-top: 40px;
        padding-bottom: 80px;
    }
    
    .concern-container .separator {
        width: 200px;
        height: 1px;
        background-color: #000;        
    }
    
    .concern-card {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 40px;
        transition: all 400ms ease-in-out;
        cursor: pointer;
    }
    
    .concern-card:hover {
        transform: translateY(-10px);
        transform: scale(1.07);
    }
    
    .concern-card__image {
        position: relative;
    }
    
    .concern-card__image img {
        width: 200px;
        height: 200px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 1000px;
    }
    
    .concern-card__image div {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        position: absolute;
        bottom: 10px;
        max-width: 160px;
    }
    
    .concern-card__list ul {
        list-style: disc;
        font-size: 15px;
    }
}